.calculator{
    text-align: center;
    margin: 0 auto;
    padding: 200px;
    width: 400px;
}

.calculator-screen{
    width: 100%;
    height: 80px;
    background-color: #252525;
    color: #fff;
    text-align: right;
    border: none;
    font-size: 32px;
    box-sizing: border-box;
    padding: 0 20px;
}

.calculator-key{
    width: 100%;
}

.row{
    display: flex;
}

button{
    height: 80px;
    background-color: gray;
    border: 1px solid black;
    font-size: 32px;
    color: #fff;
    width: 25%;
    outline: none;
}

.all-clear, .zero-btn{
    width: 50%;
}

.operator, .equal-sign{
    background-color: orange;
}

button:hover{
    background-color: darkgray;
}

.operator:hover, .equal-sign:hover{
    background-color: darkorange;
}